<form class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="compose(form)">
    <div class="form-group">
        <input type="text" name="from" id="from" class="form-control" placeholder="To:"
            #from="ngModel" ngModel required>
        <div *ngIf="from.touched && from.invalid">
            <p class="alert alert-danger" *ngIf="from.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="to" id="to" class="form-control" placeholder="From:"
            #to="ngModel" ngModel required>
        <div *ngIf="to.touched && to.invalid">
            <p class="alert alert-danger" *ngIf="to.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="subject" id="subject" class="form-control" placeholder="subject:"
            #subject="ngModel" ngModel required>
        <div *ngIf="subject.touched && subject.invalid">
            <p class="alert alert-danger" *ngIf="subject.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <textarea rows="8" cols="56" placeholder="Description">
            </textarea>
        
        </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">send</button>
        <a routerLink="/home"><button type="reset" class="btn btn-outline-success float-left">Back</button></a>
    </div>
    </form>

