img{
    width: 400px;
}
.btn{
    padding: 25px 75px;
    border-radius: 20px;
    font-size: 25px;
    border-color: white;
}
.navbar-nav{
    text-align: center;
    font-size: 30px;
}
.form-control{
    background-color: black;
    color: white;
    height: 50px;
    font-size: 20px;
    color: grey;
}
