<div class="col-md-4 offset-4 form-group mt-2 mb-2">
        <select class="form-control" name="form" id="form" (click)="getNews(value)" [(ngModel)]="value">
            <option value="abc-news">Abc News</option>
            <option value="bbc-news">BBC news</option>
            <option value="fox-news">Fox-News</option>
            <option value="espn">Espn</option>
            <option value="news24">News-24</option>
            <option value="the-hindu">The-Hindu</option>
            <option value="usa-today">USA-Today</option>
    
    
        </select>
    
    </div>
    
    <div class="col-md-3 card card-body float-left align-item-center " style="height:350px;" *ngFor="let new1 of news">
        <img src="{{new1.urlToImage}}" style="height:250px; width:300px;"  alt="">
        <h6>{{new1.title}}</h6>
    
    </div>
