<form class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="changepassword(form)">
    <div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Pasword"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must Contain atleast one number and one uppercase and one special characters and lowercase letters "
            #password="ngModel" ngModel required>
        <div *ngIf="password.touched && password.invalid">
            <p class="alert alert-danger" *ngIf="password.errors.required">*This field is required</p>
        </div>
        <div *ngIf="password.errors?.pattern && password.touched">
            <p class="alert alert-danger">Must Contain atleast one number and one uppercase and one special characters and lowercase letters</p>
        </div>
    </div>
    <div class="form-group">
        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Enter confirm Pasword"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="It should same as password"
            #confirmpassword="ngModel" ngModel required>
        <div *ngIf="confirmpassword.touched && confirmpassword.invalid">
            <p class="alert alert-danger" *ngIf="confirmpassword.errors.required">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">change</button>
    </div>
</form>

